USE [ShopNew]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_title] [nvarchar](max) NULL,
	[blog_content] [nvarchar](max) NULL,
	[blog_image] [varchar](max) NULL,
	[author_name] [nvarchar](max) NULL,
	[create_date] [datetime] NULL,
	[status] [bit] NULL,
	[isDeleted] [bit] NULL,
	[summary] [nvarchar](max) NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog_category]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[gender] [nvarchar](50) NULL,
	[phone_number] [varchar](50) NULL,
	[email] [varchar](150) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[address] [text] NULL,
	[avatar] [text] NULL,
	[status] [bit] NULL,
	[update_date] [datetime] NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[product_id] [int] NULL,
	[feedback_image] [varchar](max) NULL,
	[feedback_content] [nvarchar](max) NULL,
	[rate_star] [float] NULL,
	[status] [bit] NULL,
	[create_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[product_price] [float] NULL,
	[quantity] [int] NULL,
	[total_cost] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[staff_id] [int] NULL,
	[receiver_fullname] [nvarchar](100) NULL,
	[receiver_gender] [nvarchar](50) NULL,
	[receiver_email] [varchar](max) NULL,
	[phone_number] [nvarchar](max) NULL,
	[receiver_address] [nvarchar](max) NULL,
	[order_date] [datetime] NULL,
	[total_cost] [float] NULL,
	[note] [nvarchar](max) NULL,
	[order_status] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NULL,
	[original_price] [float] NULL,
	[sale_price] [float] NULL,
	[quantity] [int] NULL,
	[category_id] [int] NULL,
	[thumbnail] [varchar](max) NULL,
	[product_image] [varchar](max) NULL,
	[summary] [nvarchar](max) NULL,
	[product_detail] [nvarchar](max) NULL,
	[product_status] [bit] NULL,
	[create_date] [datetime] NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_category]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 21/09/2024 7:36:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[gender] [nvarchar](50) NULL,
	[phone_number] [varchar](50) NULL,
	[email] [varchar](150) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[address] [nvarchar](max) NULL,
	[avatar] [varchar](max) NULL,
	[role_id] [int] NULL,
	[status] [bit] NULL,
	[update_date] [datetime] NULL,
	[isDeleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [fullname], [gender], [phone_number], [email], [password], [address], [avatar], [status], [update_date], [isDeleted]) VALUES (1, N'AAAA', N'Male', N'012345678', N'anhdvhe163622@fpt.edu.vn', N'123', N'FPT', N'https://cdn-icons-png.freepik.com/512/2922/2922100.png', 0, NULL, 0)
INSERT [dbo].[Customer] ([customer_id], [fullname], [gender], [phone_number], [email], [password], [address], [avatar], [status], [update_date], [isDeleted]) VALUES (2, N'Do Viet Anh', N'Male', N'1234567890', N'fff', N'123', N'FPT', NULL, 1, NULL, NULL)
INSERT [dbo].[Customer] ([customer_id], [fullname], [gender], [phone_number], [email], [password], [address], [avatar], [status], [update_date], [isDeleted]) VALUES (3, N'Do Viet Anh', N'Male', N'123456789', N'dovietanh20092002@gmail.com', N'123', N'FPT', NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_detail] ON 

INSERT [dbo].[Order_detail] ([order_detail_id], [order_id], [product_id], [product_price], [quantity], [total_cost]) VALUES (1, 4, 2, 400000, 2, 800000)
INSERT [dbo].[Order_detail] ([order_detail_id], [order_id], [product_id], [product_price], [quantity], [total_cost]) VALUES (2, 4, 3, 199000, 1, 199000)
INSERT [dbo].[Order_detail] ([order_detail_id], [order_id], [product_id], [product_price], [quantity], [total_cost]) VALUES (3, 4, 4, 100000, 1, 100000)
SET IDENTITY_INSERT [dbo].[Order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [customer_id], [staff_id], [receiver_fullname], [receiver_gender], [receiver_email], [phone_number], [receiver_address], [order_date], [total_cost], [note], [order_status], [isDeleted]) VALUES (4, 1, 19, N'abc', N'Male', N'abc@gmail.com', N'1223456788', N'FPT', CAST(N'2024-06-24T19:03:18.567' AS DateTime), 1099000, N'hihi', N'Received', 0)
INSERT [dbo].[Orders] ([order_id], [customer_id], [staff_id], [receiver_fullname], [receiver_gender], [receiver_email], [phone_number], [receiver_address], [order_date], [total_cost], [note], [order_status], [isDeleted]) VALUES (5, 1, 19, N'111', N'Male', N'111@gmail.com', N'123456789', N'Ha Noi', CAST(N'2024-06-24T19:10:29.830' AS DateTime), 799000, N'hihi', N'Cancelled', 0)
INSERT [dbo].[Orders] ([order_id], [customer_id], [staff_id], [receiver_fullname], [receiver_gender], [receiver_email], [phone_number], [receiver_address], [order_date], [total_cost], [note], [order_status], [isDeleted]) VALUES (6, 1, 19, N'123', N'Female', N'123@gmail.com', N'123123', N'Ha Noi', CAST(N'2024-06-24T19:16:50.123' AS DateTime), 200000, N'123', N'Cancelled', 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_category] ON 

INSERT [dbo].[Product_category] ([category_id], [category_name], [status]) VALUES (1, N'Tee-shirt', 1)
INSERT [dbo].[Product_category] ([category_id], [category_name], [status]) VALUES (2, N'Sweater', 1)
INSERT [dbo].[Product_category] ([category_id], [category_name], [status]) VALUES (3, N'POLO', 1)
SET IDENTITY_INSERT [dbo].[Product_category] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Saler')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staff_id], [fullname], [gender], [phone_number], [email], [password], [address], [avatar], [role_id], [status], [update_date], [isDeleted]) VALUES (14, N'Admin1', N'Male', N'012345678', N'admin1@gmail.com', N'123', N'FPT', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRgDg7kpLtCUJhgC5ns2VTqFQpt0dLVRh-8eJYYAY9o6r90SK5aOB1c_7KU_WNugjqBVA&usqp=CAU', 1, 1, CAST(N'2024-06-24T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Staff] ([staff_id], [fullname], [gender], [phone_number], [email], [password], [address], [avatar], [role_id], [status], [update_date], [isDeleted]) VALUES (18, N'Admin2', N'Female', N'0125684208', N'admin2@gmail.com', N'123', N'FPT', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6nwtSKuhamK_RmQOMjPZnlzctjERQ8OHSvzaSxMGLsasOAmQQ32asKGjdrj-Y-lpuVJw&usqp=CAU', 1, 1, NULL, NULL)
INSERT [dbo].[Staff] ([staff_id], [fullname], [gender], [phone_number], [email], [password], [address], [avatar], [role_id], [status], [update_date], [isDeleted]) VALUES (19, N'Saler1', N'Male', N'0987357218', N'Sale1@gmail.com', N'123', N'FPT', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2R1UnM0ylHT-t50Nv2mRDat_R9iAD5RsDtRIb2534-M8y8ZQY_z_ytdX5OZhKruolPxc&usqp=CAU', 2, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Blog_category] ([category_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Product_category] ([category_id])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
